<%- if controller_name != 'sessions' %>
  <%= link_to t('devise.shared.links.log_in', default: 'ログイン'), new_session_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to t('devise.shared.links.sign_up', default: 'アカウント登録'), new_registration_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to t('devise.shared.links.forgot_password', default: 'パスワードをお忘れですか？'), new_password_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to t('devise.shared.links.resend_confirmation', default: '確認メールが届いていませんか？'), new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to t('devise.shared.links.resend_unlock', default: 'アカウントのロック解除メールを再送しますか？'), new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "mt-4 inline-block w-full text-center bg-white text-gray-700 font-bold py-3 px-6 rounded border border-gray-300 hover:bg-gray-100 focus:outline-none focus:shadow-outline", data: { turbo: false } do %>
      <div class="flex items-center justify-center">
        <img src="https://www.google.com/favicon.ico" alt="Google" class="w-5 h-5 mr-2">
        <span>Googleでログイン</span>
      </div>
    <% end %>
  <% end %>
<% end %>
