<%= render "devise/shared/form_layout" do %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "space-y-6" }) do |form| %>
    <!-- Title -->
    <h2 class="text-2xl font-bold text-gray-700 text-center mb-6">
      <%= t('devise.passwords.new.forgot_your_password', default: 'パスワード再設定') %>
    </h2>
    <h3 class="text-xl font-bold text-gray-700 text-center mb-6">
      <%= t('devise.passwords.new.enter_your_email_address', default: 'メールアドレスを入力してください') %>
    </h3>

    <!-- Error Messages -->
    <% if resource.errors.any? %>
      <%= render "devise/shared/error_messages", resource: resource %>
    <% end %>

    <!-- Email Field -->
    <div class="mb-6">
      <label for="email" class="block text-gray-700 text-sm font-bold mb-2">
        <%= t('activerecord.attributes.user.email', default: 'Eメール') %>
      </label>
      <%= form.email_field :email,
        id: "email",
        placeholder: t('activerecord.attributes.user.email', default: 'Eメール'),
        required: true,
        autofocus: true,
        autocomplete: "email",
        class: "shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:shadow-outline bg-gray-50 placeholder-gray-400" %>
    </div>

    <!-- Submit Button -->
    <div class="mt-6">
      <%= form.button type: 'submit', class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" do %>
        <%= t("devise.passwords.new.send_me_reset_password_instructions", default: 'パスワード再設定メールを送信') %>
      <% end %>
    </div>
  <% end %>

  <!-- Links -->
  <div class="mt-4 flex flex-col gap-4 justify-between">
    <div class="text-sm">
      <%= link_to t("devise.shared.links.sign_in", default: "ログイン"), new_session_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
    </div>
    <div class="text-sm">
      <%= link_to t("devise.shared.links.sign_up", default: "サインアップ"), new_user_registration_path, class: "font-medium text-indigo-600 hover:text-indigo-500" %>
    </div>
  </div>
<% end %>
