<nav class="flex justify-around items-center space-x-8 text-lg">
  <% if user_signed_in? %>
    <div class="flex items-center space-x-8">
        <%= link_to mypage_path do %>
           <%= link_to '日記を書く', new_journal_path, class: 'text-center text-gray-600 font-bold' %>
           <%= link_to '過去の日記一覧', journals_path, class: 'text-center text-gray-600 font-bold' %>
           <%= link_to 'タイムライン', timeline_journals_path, class: 'text-center text-gray-600 font-bold' %>
          <div class="text-center flex flex-col items-center">
            <% if current_user.profile.present? && current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, class: 'w-10 h-10 rounded-full object-cover border border-primary border-300' %>
            <% else %>
              <%= image_tag 'profile_sample.png', class: 'w-10 h-10 rounded-full object-cover border border-primary border-300' %>
            <% end %>
            <p class="text-sm text-gray-600 font-bold mt-1">マイページ</p>
          </div>
        <% end %>
        <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'text-gray-600 font-bold hover:text-red-500' %>
    </div>
  <% else %>
    <%= link_to 'タイムライン', timeline_journals_path, class: 'text-center text-gray-600 font-bold' %>
    <%= link_to 'ログイン', new_user_session_path, class: 'text-center text-gray-600 font-bold' %>
    <%= link_to 'サインアップ', new_user_registration_path, class: 'text-center text-gray-600 font-bold' %>
    <%= link_to 'パスワード再発行', new_user_password_path, class: 'text-center text-gray-600 font-bold' %>
  <% end %>
</nav>
