<nav class="flex justify-around items-center space-x-8 text-lg">
  <%= link_to 'みんなの日記を覗きにいく', '#', class: 'text-center text-gray-600 font-bold' %>
  <% if user_signed_in? %>
    <div class="flex items-center space-x-8">
        <%= link_to 'プロフィール', "#", class: 'text-gray-600 font-bold hover:text-blue-500' %>
        <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'text-gray-600 font-bold hover:text-red-500' %>
    </div>
  <% else %>
    <%= link_to 'ログイン', new_user_session_path, class: 'text-center text-gray-600 font-bold' %>
    <%= link_to 'サインアップ', new_user_registration_path, class: 'text-center text-gray-600 font-bold' %>
    <%= link_to 'パスワード再発行', new_user_password_path, class: 'text-center text-gray-600 font-bold' %>
  <% end %>
</nav>
