<div id="query-container-<%= id %>">
  <% if params[:search_conditions]&.include?('year') %>
    <select name="search_values[]" class="select select-bordered w-full px-4 py-2 rounded-md bg-gray-700 text-white">
      <option value="">年代を選択</option>
      <% (1970..2025).each do |year| %>
        <option value="<%= year %>" <%= 'selected' if params[:search_values]&.include?(year.to_s) %>><%= year %></option>
      <% end %>
    </select>
  <% else %>
    <input type="text" name="search_values[]" value="<%= params[:search_values]&.first %>" placeholder="キーワードを入力" class="input input-bordered w-full px-4 py-2 rounded-md bg-gray-700 text-white">
  <% end %>
</div>
