<div class="flex justify-center items-center bg-customblue">
  <div class="rounded-lg p-8" style="aspect-ratio: 1 / 1; width: 90%; max-width: 400px;">
    <%= render "devise/shared/form_layout" do %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-6 h-full" }) do |form| %>
        <!-- Title -->
        <h2 class="text-2xl font-bold text-gray-700 text-center mb-6">
          <%= t('devise.sessions.new.sign_in', default: 'ログイン') %>
        </h2>

        <!-- Error Messages -->
        <% if resource.errors.any? %>
          <%= render "devise/shared/error_messages", resource: resource %>
        <% end %>

        <!-- Email Field -->
        <div class="mb-4">
          <label for="email" class="block text-gray-700 text-sm font-bold mb-2">
            <%= t('activerecord.attributes.user.email', default: 'Eメール') %>
          </label>
          <%= form.email_field :email, 
            id: "email", 
            placeholder: t('activerecord.attributes.user.email', default: 'Eメール'), 
            required: true, 
            autocomplete: "email", 
            class: "shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:shadow-outline bg-gray-50 placeholder-gray-400" %>
        </div>

        <!-- Password Field -->
        <div class="mb-4 relative">
          <label for="password" class="block text-gray-700 text-sm font-bold mb-2">
            <%= t('activerecord.attributes.user.password', default: 'パスワード') %>
          </label>
          <div data-controller="password-visibility">
            <%= form.password_field :password, 
              id: "password", 
              placeholder: t('activerecord.attributes.user.password', default: 'パスワード'), 
              required: true, 
              autocomplete: "current-password", 
              class: "shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:shadow-outline bg-gray-50 placeholder-gray-400",
              data: { password_visibility_target: "input" } %>
            <button 
              type="button" 
              data-password-visibility-target="button"
              data-action="click->password-visibility#toggle"
              class="absolute right-3 top-1/2 transform  text-gray-500 hover:text-gray-700 focus:outline-none">
              👁
            </button>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="mt-6">
          <%= form.button type: 'submit', class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" do %>
            <%= t("devise.sessions.new.sign_in", default: "ログイン") %>
          <% end %>
        </div>
        <div class="mt-6">
        <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50" do %>
          <img class="h-5 w-5" src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google logo">
          <span class="ml-2">Googleでログイン</span>
        <% end %>
        <%# Spotifyログインボタンをコメントアウト %>
        <%#= link_to user_spotify_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50" do %>
          <%# <svg class="h-5 w-5" viewBox="0 0 24 24" fill="#1DB954">
            <%# <path d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.66 0 12 0zm5.521 17.34c-.24.359-.66.48-1.021.24-2.82-1.74-6.36-2.101-10.561-1.141-.418.122-.779-.179-.899-.539-.12-.421.18-.78.54-.9 4.56-1.021 8.52-.6 11.64 1.32.42.18.479.659.301 1.02zm1.44-3.3c-.301.42-.841.6-1.262.3-3.239-1.98-8.159-2.58-11.939-1.38-.479.12-1.02-.12-1.14-.6-.12-.48.12-1.021.6-1.141C9.6 9.9 15 10.561 18.72 12.84c.361.181.54.78.241 1.2zm.12-3.36C15.24 8.4 8.82 8.16 5.16 9.301c-.6.179-1.2-.181-1.38-.721-.18-.601.18-1.2.72-1.381 4.26-1.26 11.28-1.02 15.721 1.621.539.3.719 1.02.419 1.56-.299.421-1.02.599-1.559.3z"/>
          <%# </svg>
          <%# <span class="ml-2">Spotifyでログイン</span>
        <%# end %>
        <div class="mt-4 flex items-center justify-between">
          <div class="text-sm">
            <%= link_to t("devise.shared.links.sign_up", default: "サインアップ"), new_user_registration_path, class: "font-medium text-indigo-600 hover:text-indigo-500" %>
          </div>
        </div>
      </div>
        <div class="mt-4 flex items-center justify-between">
          <div class="text-sm">
            <%= link_to t("devise.shared.links.forgot_your_password"), new_password_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
