<div class="min-h-screen bg-customblue text-black flex flex-col items-center pt-8 pb-8">
  <div class="bg-white p-6 rounded shadow-md w-full max-w-2xl">
    <!-- ページタイトル -->
   <h1 class="text-2xl font-bold text-center mb-6">
        <%= "#{current_user.name}'s Journal" %>
    </h1>

    <!-- 一覧表示 -->
    <ul class="space-y-4">
      <% @journals.each_with_index do |journal, index| %>
        <li class="bg-gray-100 p-4 rounded shadow">
          <div class="text-lg font-bold">No.<%= index + 1 %></div>
          <div>作成日: <%= journal.created_at.in_time_zone('Asia/Tokyo').strftime("%Y年%m月%d日 %H:%M") %></div>
          <div>タイトル: <%= journal.title.presence || "未設定" %></div>
          <div>感情: <%= journal.emotion.presence || "未設定" %></div>
          <div>アーティスト名: <%= journal.artist_name.presence || "未設定" %></div>
          <div>曲名: <%= journal.song_name.presence || "未設定" %></div>
          <div class="flex space-x-4 mt-2">
            <!-- 日記を見るリンク -->
            <%= link_to '日記を見る', journal_path(journal), class: "px-6 py-2 bg-gray-500 text-white font-medium rounded shadow-md hover:bg-gray-600" %>
            <!-- 編集リンク (色変更) -->
            <%= link_to "編集", edit_journal_path(journal), class: "px-6 py-2 bg-yellow-500 text-white font-medium rounded shadow-md hover:bg-yellow-600" %>
            <!-- 削除ボタン (色変更) -->
            <%= button_to "削除", journal_path(journal), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "px-6 py-2 bg-red-500 text-white font-medium rounded shadow-md hover:bg-red-600" %>
          </div>
        </li>
      <% end %>
    </ul>
    <!-- 日記作成ボタン -->
    <div class="flex justify-center mt-6">
      <%= link_to "新しい日記を作成", new_journal_path, class: "btn btn-primary w-full" %>
    </div>
  </div>
</div>