<div class="min-h-screen bg-customred text-gray-500 flex flex-col items-center justify-center relative">
  <div class="bg-white p-4 rounded shadow-md w-full max-w-lg relative">
    <%= form_with(model: @journal, local: true, id: "journal-form", class: "w-full space-y-6") do |form| %>

      <!-- 日付表示 -->
      <div class="form-control text-2xl">
        <span class="text-center text-2xl"><%= Time.current.strftime('%Y年%m月%d日') %></span>
      </div>

      <!-- タイトル入力 -->
      <div class="form-control">
        <%= form.label :title, "タイトル", class: "label text-xl text-center" %>
        <%= form.text_field :title, required: true, placeholder: "タイトルを入力", class: "input input-bordered w-full text-sm" %>
      </div>

      <!-- メモ入力 -->
      <div class="form-control">
        <%= form.label :content, "一言メモ", class: "label text-xl text-center" %>
        <%= form.text_area :content, required: true, placeholder: "今日の出来事や気持ちを記入", class: "textarea textarea-bordered text-sm" %>
      </div>

      <!-- 感情入力 -->
      <div class="form-control">
        <%= form.label :emotion, "感情", class: "label text-xl text-center" %>
        <%= form.select :emotion, options_for_select([["喜", 0], ["怒", 1], ["哀", 2], ["楽", 3]], @journal.emotion), { prompt: "選択してください" }, class: "select select-bordered text-sm" %>
      </div>

      <!-- 検索ボタン（モーダルを開く） -->
      <div class="form-control">
        <button type="button" id="open-search-modal" class="btn btn-secondary w-full">
          曲を選ぶ
        </button>
      </div>

      <!-- 保存ボタン -->
      <div class="form-control">
        <%= form.submit "日記を保存", class: "btn btn-primary text-sm w-full" %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/spotify_modal' %>